zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zcompdump
nvim/.config/nvim/plugin/
mullvad/.config/Mullvad VPN/.org.chromium.Chromium.5rTAAW
mullvad/.config/Mullvad VPN/Cache/
mullvad/.config/Mullvad VPN/Code Cache/
mullvad/.config/Mullvad VPN/Crashpad/
mullvad/.config/Mullvad VPN/GPUCache/
mullvad/.config/Mullvad VPN/Local Storage/
mullvad/.config/Mullvad VPN/Network Persistent State
mullvad/.config/Mullvad VPN/Preferences
mullvad/.config/Mullvad VPN/SingletonCookie
mullvad/.config/Mullvad VPN/SingletonLock
mullvad/.config/Mullvad VPN/SingletonSocket
mullvad/.config/Mullvad VPN/logs/
darktable/.config/darktable/data*
darktable/.config/darktable/library*
darktable/.config/darktable/shortcutsrc.defaults
darktable/.config/darktable/shortcutsrc.backup
xfce/.config/xfce4/panel/whiskermenu-26.rc
xfce/.config/xfce4/xfconf/xfce4-notifyd.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
